*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html{
    font-size: 16px;
    scroll-behavior: smooth;
}

:root{
    --blue:#000033;
    --black:#000000;
    --white:#FFFFFF;
}


body{
    background-color: var(--blue);
}

p{
    margin: 0;
}
.form-select,
.form-control{
    padding:2px 6px;
}
.form-select:focus,
.form-control:focus{
    border-color: hwb(240 0% 80% / 0.25);
    box-shadow: none

}
/* Main Area Start */
.main__area{
    width:710px;
    margin: 10px auto 48px auto;
    background:var(--white);
    padding: 0 8px;
}
.logo__wrapper img{
    margin-bottom: -12px;
    width: 100%;
}

.logo__wrapper p{
    display: inline-block;
    width:668px;
    height:1px;
    background:#999999;
    margin-top: 2px;
    margin-bottom: 2px;
}
.navbar-expand-md{
    justify-content:center;
}
.navbar-toggler{
    margin-left: 12px;
    border: 1px solid #00003366;
}
.navbar-toggler:focus{
    box-shadow:0 0 0 .05rem var(--blue);
}
.navbar-toggler-icon{
    background-image: url("../images/hamburger.svg")
}
.menu__wrapper {
    padding: 8px 0;
}

.menu__wrapper ul li a{
    color: var(--blue);
    font-size: 16px;
    font-weight: 500;
}
.menu__wrapper ul li:hover a,
.menu__wrapper ul li:focus a,
.menu__wrapper ul li a:focus{
    color: var(--blue);
}
.page__content{
    padding:6px 12px;
}
.general__info-wrapper h1 {
    font-size: 26px;
    color: #000066;
    margin-bottom: 12px;
}
.instruction__content{
    background: #f0f0f0;
    padding:10px;
    margin-bottom: 16px;
}
.instruction__content p:first-child{
    font-size:13px;
    font-weight: 700;
    letter-spacing: 0;
}
.instruction__content ol{
    padding-left: 40px;
    margin:13px 0;
}
.how_found_site label{
    margin-bottom: 2px;
}
.how_found_site input{
    width:450px;
}
.form__wrapper h2{
    font-size: 22px;
    color: #000066;
    margin:20px 0;
}
.form__title h6{
    font-size:13px;
    font-weight: 700;
    margin-bottom: 2px;
}
.general__info-wrapper .row .col-2,
.general__info-wrapper .row .col-3,
.general__info-wrapper .row .col-5:not(:last-child){
    padding-left: 6px;
    padding-right: 2px;
}
.general__info-wrapper .row .col-5:last-child{
    padding-left: 6px;
}
.form__wrapper .form .row{
    margin-bottom: 8px;
}
.address__wrapper .col-4{
    padding-left: 0;
}
.address__wrapper .col-6{
    margin-top: 8px;
}
.divider{
    display: inline-block;
    width:668px;
    height:1px;
    background:#999999;
    margin-top: 2px;
    margin-bottom: 2px;
}

.property__info .col-4,
.property__info .col-5,
.property__info .col-6,
.loan__request .col-6{
    padding-left: 6px;
    padding-right: 2px;
}

.loan__info .col-5,
.loan__info .col-2:not(:last-child){
    padding-left: 6px;
    padding-right: 2px;
}
.loan__info .col-2:last-child{
    padding-left: 6px;
    padding-right: 12px;
}
.loan__info .col-3{
    padding-left: 12px!important;
    padding-right: 2px!important;
}

.creators .col-3:first-child{
    padding-left: 12px;
}
.creators .col-3:last-child{
    padding-right: 12px;
}

.other__info-textarea{
    width:60%;
}

.spam__checker .col-2{
    padding-left: 12px!important;
}

.submit__btn{
    margin-top: 12px;
    margin-bottom: 12px;
    background:var(--blue);
    color:var(--white);
}
.submit__btn:hover{
    color: var(--white);
}

.footer__content-wrapper p{
    margin-bottom: 10px;
}
.small__text{
    font-size: 13px;
}

.footer__area{
    padding-top: 16px;
    padding-bottom: 32px;
}

/* Main Area End */

@media (min-width: 320px) and (max-width:767px){
    body{
        zoom: 50%;
    }
    .main__area{
        width: 100%;
    }
    .logo__wrapper p{
        width:100%;
    }
    .divider{
        width: 100%;
    }
    .navbar-expand-md{
        justify-content:flex-start;
    }
    .navbar-collapse{
        padding-left: 12px;
    }
    .instruction__content ol li{
        font-size:13px;
    }
    .instruction__content p:last-child{
        font-size:14px;
    }
}